#This is the configuration file for the BigDFT installer
#This is a python script which is executed by the build suite
def getcwd():
  import os
  return os.getcwd()
#Add the condition testing to run tests and includes PyYaml
conditions.add("testing")
conditions.add("simulation") #to include simgrid compilation
#conditions.add("python")
#List the module the this rcfile will build
modules = ['spred',]
#example of the potentialities of the python syntax in this file
def env_configuration():
    return  """ "FCFLAGS=-O2 -fPIC -fopenmp" "CFLAGS=-fPIC -O2 -fopenmp" "FC=mpif90" "F77=mpif77" "FCLIBS= " "LIBS=-ldl -lstdc++ -lgfortran"  """
#the following command sets the environment variable to give these settings
#to all the modules
import os
os.environ['BIGDFT_CONFIGURE_FLAGS']=env_configuration()
#here follow the configuration instructions for the modules built
#we specify the configurations for the modules to customize the options if needed
autogenargs=env_configuration()
module_autogenargs.update({
'futile': env_configuration()+
    " --enable-simgrid-shared --with-mpi-libs='-lsimgrid' --with-mpi-include=-I"+getcwd()+"/install/include/smpi FC="+getcwd()+"/install/bin/smpif90 CC=gcc SIMGRID_FC="+getcwd()+"/install/bin/smpif90",
'bigdft': env_configuration()+
    " --enable-simgrid-shared --with-mpi-libs='-lsimgrid' --with-mpi-include=-I"+getcwd()+"/install/include/smpi FC="+getcwd()+"/install/bin/smpif90 CC=gcc SIMGRID_FC="+getcwd()+"/install/bin/smpif90",
'spred': env_configuration()+" --with-gobject=yes ",
'PyYAML': "build_ext -I%(prefix)s/include -L%(prefix)s/lib --rpath=%(prefix)s/lib " % {"prefix": prefix},
'pygobject': 'PYTHON=/usr/bin/python',
'v_sim-dev': '--with-abinit --with-archives --with-openbabel --with-cube --without-strict-cflags'
})
