# http://editorconfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{c,cpp,h,hpp,yml,cmake}]
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

# PEP8 https://www.python.org/dev/peps/pep-0008/ http://pep8.org/
[*.py]
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
