*.out
*.stdo

coll/allgatherf
coll/allred
coll/allred2
coll/allredf
coll/allredmany
coll/alltoallv_mpich
coll/assocf
coll/barrier
coll/bcast_mpich
coll/bcastbug
coll/bcastbug2
coll/bcastlog
coll/bcastvec
coll/coll1
coll/coll10
coll/coll11
coll/coll12
coll/coll13
coll/coll2
coll/coll3
coll/coll4
coll/coll5
coll/coll6
coll/coll7
coll/coll8
coll/coll9
coll/grouptest
coll/longuser
coll/redscat
coll/redtst
coll/scantst
coll/scattern
coll/scatterv
context/attrerr
context/groupcreate
context/grouptest_mpich
context/icdup
context/ictest
context/ictest2
context/ictest3
env/aborttest
env/baseattr
env/env.diff
env/errhand
env/getproc
env/getprocf
env/gtime
env/init
env/sigchk
env/testerr
env/timers
env/timertest
profile/colluses
profile/ptest
pt2pt/bsendtest
pt2pt/cancel
pt2pt/cancel2
pt2pt/cancel3
pt2pt/cancelibm
pt2pt/cancelissend
pt2pt/cancelmessages
pt2pt/commit
pt2pt/dataalign
pt2pt/dtypelife
pt2pt/dtyperecv
pt2pt/exittest
pt2pt/fifth
pt2pt/flood
pt2pt/flood2
pt2pt/fourth
pt2pt/getelm
pt2pt/hindexed
pt2pt/htmsg
pt2pt/hvec
pt2pt/hvectest
pt2pt/hvectest2
pt2pt/irecvtest
pt2pt/irsend
pt2pt/irsendinit
pt2pt/isendf
pt2pt/isendtest
pt2pt/isndrcv
pt2pt/issend2
pt2pt/issendinit
pt2pt/issendtest
pt2pt/longmsgs
pt2pt/nblock
pt2pt/nbtest
pt2pt/nullproc
pt2pt/nullproc2
pt2pt/order
pt2pt/overtake
pt2pt/pack
pt2pt/persist
pt2pt/persist2
pt2pt/persistent
pt2pt/pingpong_f
pt2pt/probe
pt2pt/probe1
pt2pt/relrank
pt2pt/reqcreate
pt2pt/reqfree
pt2pt/secondf
pt2pt/self
pt2pt/selfvsworld
pt2pt/send1
pt2pt/sendcplx
pt2pt/sendfort
pt2pt/sendmany
pt2pt/sendorder
pt2pt/sendrecv2
pt2pt/sendrecv3
pt2pt/sendrecv4
pt2pt/sendrecv_mpich
pt2pt/sixth
pt2pt/sndrcv
pt2pt/sndrcvrep
pt2pt/sndrcvrpl2
pt2pt/ssendtest
pt2pt/ssendtest2
pt2pt/structlb
pt2pt/testall_mpich
pt2pt/testsome
pt2pt/testtest1
pt2pt/testtypes
pt2pt/third
pt2pt/trunc
pt2pt/truncmult
pt2pt/typebase
pt2pt/typebasef
pt2pt/typecreate
pt2pt/typelb
pt2pt/typetest
pt2pt/typeub
pt2pt/typeub2
pt2pt/typeub3
pt2pt/waitall
pt2pt/waitall2
pt2pt/waitall3
pt2pt/waitall4
pt2pt/waitany
