object#TOC {
    max-width: 100%;
}

div[itemprop="articleBody"] {
    word-wrap: break-word;
}
ul.learning-goals {
    line-height: 80%;
    margin-left: 2em;
    padding: 0.2em;
    margin-bottom: 1em;
}
ul.learning-goals li {
    list-style: disc;
}
ul.learning-goals li p {
    margin-bottom: 0;
}
p.learning-goals {
    margin-bottom: 0;
}
