name: CI StarPU

on:
  workflow_dispatch:
  schedule:
    - cron: '0 20 * * 0'

jobs:
  build:

    runs-on: ubuntu-latest
    container: simgrid/unstable

    steps:
      - uses: actions/checkout@v3
      - name: Build and test StarPU
        run: |
          set -e
          ./tools/jenkins/ci-starpu.sh
      - name: Send the failure Message
        if: ${{ failure() }}
        uses: mattermost/action-mattermost-notify@master
        with:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
          MATTERMOST_CHANNEL: ${{ secrets.MATTERMOST_CHANNEL}}
          PAYLOAD: |-
            {
             "color": "#FF0000",
             "channel": "bot-office",
             "text": "@sthibaul: StarPU failed to build on simgrid/unstable docker image! See ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}",
             "icon": "https://cdn3.iconfinder.com/data/icons/system-basic-vol-4-1/20/icon-note-attention-alt3-512.png"
            }
      - name: Send the success Message
        if: ${{ success() }}
        uses: mattermost/action-mattermost-notify@master
        with:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
          MATTERMOST_CHANNEL: ${{ secrets.MATTERMOST_CHANNEL}}
          PAYLOAD: |-
            {
             "color": "#00FF00",
             "channel": "bot-office",
             "text": "StarPU successfully built on simgrid/unstable docker image! See ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            }

